<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="card card-elegant">
                <div class="card-block">
                    <h5 class="card-title text-uppercase">Form</h5>
                    <app-outer></app-outer>
                    <app-inner></app-inner>
                    <div class="row pt-5 mt-3">
                        <div class="col-md-5 right">
                            <button type="button" class="btn btn-danger">Discard</button>
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-5 left">
                            <button type="button" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 
 -->