<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form__group field">
            <input type="number" class="form__field" placeholder="Receipt" name="Receipt" id='Receipt' />
            <label for="name" class="form__label">Units in stock</label>
        </div>
    </div>
    <div class="col-md-3"></div>

</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form__group field">
            <input type="number" class="form__field" placeholder="Receipt" name="Receipt" id='Receipt' />
            <label for="name" class="form__label">Units Sold</label>
        </div>
    </div>
    <div class="col-md-3"></div>

</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form__group field">
            <input type="number" class="form__field" placeholder="Receipt" name="Receipt" id='Receipt' />
            <label for="name" class="form__label">Available Units</label>
        </div>
    </div>
    <div class="col-md-3"></div>

</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form__group field">
            <input type="number" class="form__field" placeholder="Receipt" name="Receipt" id='Receipt' />
            <label for="name" class="form__label">Comment </label>
        </div>
    </div>
    <div class="col-md-3"></div>

</div>