<div class="box">
    <p> <strong>Category</strong> </p>
    <select>
            <option  value="Clothes">Clothes</option>
            <option  value="Shoes">Shoes</option>
            <option  value="Accessoires">Accessoires</option>
            <option  value="Furniture">Furniture</option>
        </select>
</div>
<div class="box">
    <p><strong>Type</strong> </p>
    <select>
            <option  value="Clothes">Dress</option>
            <option  value="Shoes">troussers</option>
            <option  value="Accessoires">T-shirt</option>

            <option  value="Clothes">woman shoes</option>
            <option  value="Shoes">man shoes</option>
            <option  value="Accessoires">children shoes</option>

            <option  value="Clothes">necklaces</option>
            <option  value="Shoes">bands</option>
            <option  value="Accessoires">hairlaces</option>
           
            <option  value="Clothes">table</option>
            <option  value="Shoes">chair</option>
            <option  value="Accessoires">sofa</option>

        </select>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form__group field">
            <input type="input" class="form__field" placeholder="Receipt" name="Receipt" id='Receipt' />
            <label for="name" class="form__label">Receipt Number</label>
        </div>
    </div>
    <div class="col-md-3"></div>

</div>